<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SMS Node service</title>
</head>
<body>
  <div class="container">
    <h2>Send SMS Menssage</h2>
    <input type="tel" name="number" id="number" placeholder="Enter phone number...">
    <input type="text" name="message" id="message" placeholder="Enter message...">
    <input type="button" id="button" value="Send message">
    <p>sdc</p>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/main.js"></script>
</body>
</html>